* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.promo {
  height: 800px;
  background: url("/img/background.png") center center/cover no-repeat;
}

.logo .logo__img {
	display: block;
	margin: 0 auto;
}
